# Relatório de Análise III

## Imóveis Residenciais

In [17]:
import pandas as pd

In [18]:
dados = pd.read_csv('dados/aluguel.csv', sep = ';')

In [19]:
dados.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN

In [20]:
list(dados['Tipo'].drop_duplicates())

['Quitinete',
 'Casa',
 'Conjunto Comercial/Sala',
 'Apartamento',
 'Casa de Condomínio',
 'Prédio Inteiro',
 'Flat',
 'Loja/Salão',
 'Galpão/Depósito/Armazém',
 'Casa Comercial',
 'Casa de Vila',
 'Terreno Padrão',
 'Box/Garagem',
 'Loft',
 'Loja Shopping/ Ct Comercial',
 'Chácara',
 'Loteamento/Condomínio',
 'Sítio',
 'Pousada/Chalé',
 'Studio',
 'Hotel',
 'Indústria']

In [21]:
residencial = ["Quitinete", "Casa", "Apartamento", "Casa de Condomínio", "Casa de Vila"]

In [22]:
residencial

['Quitinete', 'Casa', 'Apartamento', 'Casa de Condomínio', 'Casa de Vila']

In [23]:
selecao = dados['Tipo'].isin(residencial)

In [24]:
dados_residenciais = dados[selecao]

Reconstruindo o índice

In [25]:
dados_residenciais.index = range(dados_residenciais.shape[0])

## Exportando a Base de Dados

In [26]:
dados_residenciais.to_csv('dados/aluguel_residencial.csv', sep=';', index=False)